@page "/"
@inherits LastPageSavableComponentBase

@foreach (var course in DesignTimeSeed.CourseListModels)
{
    <a href="course/@course.Url">
        <div class="card border-info courses-list">
            <div class="card-body">
                <h5 class="card-title">
                    @course.Shortcut
                </h5>
                <p class="card-text">@course.YearOfStudy @course.AcademicYear (@course.Semester)</p>
            </div>
        </div>
    </a>
}
