@page "/"
@using Fituska.Shared.Enums
@using Fituska.Shared.Models.Course
@inherits LastPageSavableComponentBase
@inject HttpClient Http

<!-- Zapsané kurzy? (komponenta s AuthorizeView) -->

<div class="row">
    <div class="col">
        <h2>Všechny kurzy</h2>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="col-3">
                <a class="btn btn-outline-success" href="/course/add">Přidat kurz</a>
            </div>
        </Authorized>
    </AuthorizeView>
</div>
<br />

@if (courses is not null)
{
    @foreach (YearOfStudy yearOfStudy in Enum.GetValues(typeof(YearOfStudy)))
    {
        <h4>@ConverterService.YearOfStudyDecode(yearOfStudy)</h4>
        <div class="row">
        @foreach (var course in courses.Where(c => c.YearOfStudy == yearOfStudy))
        {
            @if (course.ModeratorApproved)
            {
                <div class="col-md-6">
                    <a href="course/@course.Url">
                        <div class="card border-info courses-list">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @course.Shortcut (@ConverterService.SemesterDecode(course.Semester) semestr)
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>       
            }
        }
        </div>
        <hr />
    }
}
else
{
    <p>Načítání...</p>
}

@code
{
    List<CourseListModel>? courses = null;

    protected override async Task OnInitializedAsync()
    {
        courses = await Http.GetFromJsonAsync<List<CourseListModel>>(ApiEndpoints.CourseUrl);
        await base.OnInitializedAsync();
    }
}