.category-box {
    background-color: #efefef;
}

.category-box button {
    float: right;
}

.btn-outline-success {
    margin-right: 5px
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.add-container {
    margin-top: -20px;
}

.question-username {
    float: right;
}