@using Fituska.Shared.Models.Comment
@using Fituska.Shared.Models.User

<div class="card m-1 mt-0">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><a href="user/@Comment.User.UserName">@Comment.User.UserName</a> (@Comment.CreationTime)</h6>
        <p class="card-text">@Comment.Text</p>
        <ReplyBox OnSubmit="AddComment" />
    </div>
    @foreach (var comment in Comment.Comments.OrderBy(c => c.CreationTime).Reverse())
    {
        <CommentBox Comment="@comment" />
    }
</div>

@code
{
    [Parameter]
    public CommentModel Comment { get; set; }

    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationState { get; set; }

    async Task AddComment(string text)
    {
        var user = new UserListModel { UserName = (await AuthenticationState).User.Identity.Name, PhotoUrl = null };
        var comment = new CommentModel { User = user, Text = text, CreationTime = DateTime.Now };
        Comment.Comments.Add(comment);
    }
}
