<AuthorizeView>
    <Authorized>
        @if (!showTextBox)
        {
            <button @onclick="ToggleShowTextBox" class="btn btn-outline-primary btn-sm">@AddButtonLabel</button>
        }
        else
        {
            <button @onclick="ToggleShowTextBox" class="btn btn-outline-secondary btn-sm">Zrušit</button>
            <textarea @bind="text" class="form-control mb-2 mt-2"></textarea>
            <button class="btn btn-primary" @onclick="SendReply">Odeslat</button>
        }
        @if(showError){
            <br />
            <p class="text-danger">Zadejte text</p>
        }
    </Authorized>
</AuthorizeView>

@code
{
    [Parameter]
    public EventCallback<string> OnSubmit { get; set; }

    [Parameter]
    public string AddButtonLabel { get; set; } = "Odpovědět";

    bool showTextBox = false;
    bool showError = false;
    string text = string.Empty;

    void ToggleShowTextBox() {
        showError = false;
        showTextBox = !showTextBox;
    }

    async Task SendReply()
    {
        if (text.Length > 0)
        {
            showError = false;
            showTextBox = false;
            await OnSubmit.InvokeAsync(text);
            text = string.Empty;
        }
        else
        {
            showError = true;
        }
    }
}
