@inject ILocalStorageService LocalStorageService
@inject FituskaAuthenticationStateProvider AuthenticationStateProvider

<button class="btn btn-secondary" @onclick="SignOutAsync">
    Odhlásit
</button>

@code
{
    [Parameter]
    public EventCallback OnClick { get; set; }

    [CascadingParameter]
    protected ProfilePictureProvider? ProfilePictureProvider { get; set; }

    async Task SignOutAsync()
    {
        await ProfilePictureProvider?.ClearCachedImage();

        if (await LocalStorageService.ContainKeyAsync(StorageNames.BearerToken))
        {
            await LocalStorageService.RemoveItemAsync(StorageNames.BearerToken);
            AuthenticationStateProvider.SignOut();
        }
        StateHasChanged();
        await OnClick.InvokeAsync();
    }
}
