@inject ILocalStorageService LocalStorageService
@inject FituskaAuthenticationStateProvider AuthenticationStateProvider
@inject LastPageStorageService LastPageStorageService

<button class="btn btn-secondary" @onclick="SignOutAsync">
    Odhlásit
</button>

@code
{
    [Parameter] public EventCallback OnClick { get; set; }

    async Task SignOutAsync()
    {
        if (await LocalStorageService.ContainKeyAsync(StorageNames.UserPhoto))
        {
            await LocalStorageService.RemoveItemAsync(StorageNames.UserPhoto);
        }
        if (await LocalStorageService.ContainKeyAsync(StorageNames.BearerToken))
        {
            await LocalStorageService.RemoveItemAsync(StorageNames.BearerToken);
            AuthenticationStateProvider.SignOut();
        }
        StateHasChanged();
        await OnClick.InvokeAsync();
    }
}
