@inject ILocalStorageService LocalStorageService
@inject FituskaAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<button class="btn btn-primary" @onclick="SignOutAsync">
    Odhlásit
</button>

@code
{
    [Parameter] public EventCallback OnClick { get; set; }

    async Task SignOutAsync()
    {
        if (await LocalStorageService.ContainKeyAsync(JwtNames.BearerToken))
        {
            await LocalStorageService.RemoveItemAsync(JwtNames.BearerToken);
            AuthenticationStateProvider.SignOut();
        }
        StateHasChanged();
        await OnClick.InvokeAsync();
        NavigationManager.NavigateTo("/");
    }
}
