@using Fituska.Shared.Models.File
@using Fituska.Shared.Models.User

@if (UserModel.Photo is not null && UserModel.Photo.Length > 0)
{
    <img src="@PhotoToBase64" class="img-fluid mb-4" />
}
<AuthorizeView>
    <Authorized>
        @if (context.User.Identity.Name == UserModel.UserName)
        {
            <FileLoader OnChange="SavePhoto" TFileModel="FileUserModel" ParentId="Guid.Empty" />
            <button class="btn btn-success mt-3" disabled=@(!photoFileChanged)>
                <span class="oi oi-data-transfer-upload" aria-hidden="true" /> Uložit
            </button>
        }
    </Authorized>
</AuthorizeView>

@code
{
    [Parameter]
    public UserDetailModel UserModel { get; set; }

    string[] extensions = { "jpg", "png", "jpeg", "gif", "svg", "bmp" };

    string PhotoToBase64 => $"data:{DecodeImageTypeFromFilePath()};base64,{Convert.ToBase64String(UserModel.Photo)}";

    bool photoFileChanged = false;

    string? DecodeImageTypeFromFilePath()
    {
        if (UserModel.PhotoFileName is null)
        {
            return null;
        }
        var imgType = extensions.FirstOrDefault(ext => UserModel.PhotoFileName.EndsWith($".{ext}"));
        if (imgType is not null)
        {
            imgType = $"image/{imgType}";
        }
        return imgType;
    }

    void SavePhoto(FileUserModel fileModel)
    {
        UserModel.Photo = fileModel.Content;
        UserModel.PhotoFileName = fileModel.Name;
        photoFileChanged = true;
    }
}
