@using Fituska.Shared.Models.File
@using Fituska.Shared.Models.User
@inject HttpClient Http
@inject Base64ImageService Base64ImageService

@if (UserModel.Photo is not null && UserModel.Photo.Length > 0)
{
    <img src="@PhotoToBase64" class="img-fluid mb-4" />
}
<AuthorizeView>
    <Authorized>
        @if (context.User.Identity.Name == UserModel.UserName)
        {
            <FileLoader OnChange="SavePhoto" TFileModel="FileUserModel" ParentId="Guid.Empty" />
            <button class="btn btn-success mt-3" disabled="@(!photoFileChanged)" @onclick="UploadPhoto">
                <span class="oi oi-data-transfer-upload" aria-hidden="true" /> Uložit
            </button>
        }
    </Authorized>
</AuthorizeView>

@code
{
    [Parameter]
    public UserDetailModel UserModel { get; set; }

    bool photoFileChanged = false;
    FileUserModel fileToUpload;

    string PhotoToBase64 => Base64ImageService.ImageFileToBase64(UserModel.PhotoFileName, UserModel.Photo);

    void SavePhoto(FileUserModel fileModel)
    {
        UserModel.Photo = fileModel.Content;
        UserModel.PhotoFileName = fileModel.Name;
        photoFileChanged = true;
        fileToUpload = fileModel;
        fileToUpload.UserId = UserModel.Id;
    }

    async Task UploadPhoto()
    {
        await Http.PostAsJsonAsync<FileUserModel>(ApiEndpoints.UserFileUrl, fileToUpload);
        photoFileChanged = false;
    }
}
