.btn-upvote {
    width: 100%;
    margin-bottom: 6px;
}

.btn-downvote {
    width: 100%;
    margin-top: -11px;
}

.rating-text {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

.voting-container {
    width: 48px;
}
