@inherits LayoutComponentBase
@inject FituskaAuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@inject ILocalStorageService LocalStorageService

<NavMenu />

<div class="page">
    <main class="container">
        <article class="content" style="padding-top: 23px; padding-left: 16px; padding-right: 16px;">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (await LocalStorageService.ContainKeyAsync(JwtNames.BearerToken))
        {
            var savedToken = await LocalStorageService.GetItemAsync<string>(JwtNames.BearerToken);
            await AuthenticationStateProvider.SignIn();

            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(JwtNames.Bearer, savedToken);
            StateHasChanged();
        }
        await base.OnInitializedAsync();
    }
}