@inherits LayoutComponentBase
@inject FituskaAuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@inject ILocalStorageService LocalStorageService

<NavMenu />

<div class="page">
    <main class="container">
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (await LocalStorageService.ContainKeyAsync(StorageNames.BearerToken))
        {
            var savedToken = await LocalStorageService.GetItemAsync<string>(StorageNames.BearerToken);
            await AuthenticationStateProvider.SignIn();

            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(StorageNames.Bearer, savedToken);            
            StateHasChanged();
        }
        await base.OnInitializedAsync();
    }
}