@inherits LayoutComponentBase

<NavMenu />

<div class="page">
    <main>
        <article class="content" style="padding-top: 23px; padding-left: 16px; padding-right: 16px;">
            @Body
        </article>
    </main>
</div>
