<div class="row fituska-nav fituska-blue">
    <div class="col">
        <a class="navbar-brand" href="/">Fituška</a>

        <button class="btn d-block d-sm-none" type="button" @onclick="ToggleNavMenu">
            =
        </button>
    </div>

    <div class="col d-none d-sm-block">
        <SearchBox />
    </div>

    <div class="col">
        <AuthorizeView>
            <Authorized>
                @context.User.Identity.Name
                <SignOutButton />
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="signin">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Přihlášení
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-person" aria-hidden="true"></span> Registrace
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<div class="container search-box-container @NavMenuCssClass">
    <SearchBox />
</div>

@code
{
    bool collapseNavMenu = true;

    string? NavMenuCssClass => collapseNavMenu ? "collapse" : "d-block d-sm-none";

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
