<div class="row fituska-nav fituska-blue">
    <div class="col-7 col-sm">
        <p class="fituska-nav-heading">
            <a href="/">Fituška</a>
            <button class="btn d-block d-sm-none mobile-search-button" type="button" @onclick="ToggleMobileSearchBox">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
            </button>
        </p>
    </div>

    <div class="col d-none d-sm-block">
        <SearchBox />
    </div>

    <div class="col">
        <NavMenuAuthorization />
    </div>
</div>

<div class="menu-divider"></div>

<div class="container search-box-container @MobileSearchBoxCssClass">
    <SearchBox />
</div>

@code
{
    bool collapseMobileSearchBox = true;

    string MobileSearchBoxCssClass => collapseMobileSearchBox ? "collapse" : "d-block d-sm-none";

    void ToggleMobileSearchBox()
    {
        collapseMobileSearchBox = !collapseMobileSearchBox;
    }
}
