<div class="row fituska-nav fituska-blue">
    <div class="col-2 col-sm">
        <a class="fituska-nav-heading" href="/">Fituška</a>
    </div>

    <div class="col d-block d-sm-none">
        <button class="btn mobile-search-button" type="button" @onclick="ToggleNavMenu">
            <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
        </button>
    </div>

    <div class="col d-none d-sm-block">
        <SearchBox />
    </div>

    <div class="col">
        <NavMenuAuthorization />
    </div>
</div>

<div class="menu-divider"></div>

<div class="container search-box-container @NavMenuCssClass">
    <SearchBox />
</div>

@code
{
    bool collapseNavMenu = true;

    string? NavMenuCssClass => collapseNavMenu ? "collapse" : "d-block d-sm-none";

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
